<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/pkg/bootstrap-5.3.2-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/index.css">
</head>

<body>
    <div class="container">
        <h1 class="text-nowrap">高的個人天地</h1>
        <a href="/Hsu_Blog/views/sign-log-in.html" type="button" class="btn btn-outline-primary">登入</a>
        <!-- <button href="login.html" type="button" class="btn btn-outline-primary">登入</button> -->
        <div id="" class="card" style="width: 30rem; background-color: beige; margin: 100px auto;">
            <div class="card-body">
                <div class="container">
                    <div class="row">
                        <div class="col-5">
                            <img id="avatar" class="avatar mx-auto d-block img-fluid" src="/Hsu_Blog/img/ChirsAvatar.jpg" alt="">
                        </div>
                        <div class="col-6">
                            <h2 class="userName" style="font-weight: bold; text-align: center;">高玩</h2>
                            <!-- <span class="badge bg-success">合法使用者</span>
                            <span class="badge bg-dark">Vip0</span> -->
                        </div>
                    </div>
                </div>
                <!-- <a href="https://space.bilibili.com/443577414/favlist" class="card-link">B站推薦</a> -->
            </div>
        </div>
    </div>



    <script src="../static/pkg/bootstrap-5.3.2-dist/js/bootstrap.min.js"></script>
</body>

</html>